{% extends "layout.html" %}
{% block content %}
<body>
  <main role="main" class="container">
    <div class="row">
      <div class="col-md-8">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        <div id="blog_posts_id" data-posts={{posts}}></div>
      </div>
      <div class="col-md-4">
        <div id="side_navbar_id"></div>
      </div>
    </div>
  </main>
</body>
{% endblock content %}